In [10]:
import psycopg2
import pandas as pd
import psql_auth
import pickle

In [11]:
sql_auth = psql_auth.secrets()

conn = psycopg2.connect(
    host = sql_auth['host'],
    database = sql_auth['database'],
    port = sql_auth['port'],
    user = sql_auth['user'],
    password= sql_auth['pass'])

cur = conn.cursor()

In [3]:
with open('sim_cars.pkl', 'rb') as f:
    sim_car_dic = pickle.load(f)

In [4]:
sim_car_dic

{1: [99, 98, 54],
 2: [4, 56, 3],
 3: [50, 5, 6],
 4: [56, 74, 2],
 5: [6, 3, 81],
 6: [5, 3, 81],
 7: [18, 80, 88],
 8: [27, 9, 112],
 9: [112, 42, 41],
 10: [62, 27, 11],
 11: [10, 27, 8],
 12: [13, 107, 45],
 13: [13, 107, 45],
 14: [104, 105, 97],
 15: [40, 110, 70],
 16: [21, 22, 32],
 17: [83, 72, 55],
 18: [7, 80, 81],
 19: [23, 24, 62],
 20: [77, 43, 25],
 21: [22, 16, 115],
 22: [22, 16, 115],
 23: [23, 19, 103],
 24: [23, 19, 103],
 25: [25, 77, 20],
 26: [25, 77, 20],
 27: [8, 62, 19],
 28: [30, 114, 66],
 29: [91, 70, 31],
 30: [28, 79, 66],
 31: [91, 29, 113],
 32: [113, 46, 70],
 33: [96, 57, 52],
 34: [2, 1, 99],
 35: [111, 97, 105],
 36: [87, 69, 73],
 37: [38, 63, 51],
 38: [63, 51, 37],
 39: [75, 64, 116],
 40: [15, 78, 77],
 41: [42, 76, 75],
 42: [41, 76, 9],
 43: [44, 77, 20],
 44: [44, 77, 20],
 45: [68, 86, 85],
 46: [93, 32, 113],
 47: [48, 84, 90],
 48: [48, 84, 90],
 49: [115, 114, 93],
 50: [3, 5, 58],
 51: [38, 37, 63],
 52: [94, 96, 33],
 53: [57, 96, 54],
 54: [98, 1, 99],
 55: [17, 61, 58],
 56: [4, 74, 60],
 57: [53, 96, 54],
 58: [55, 50, 88],
 59: [98, 60, 95],
 60: [95, 59, 98],
 61: [55, 97, 18],
 62: [27, 10, 19],
 63: [38, 37, 51],
 64: [116, 39, 68],
 65: [47, 48, 14],
 66: [30, 28, 79],
 67: [104, 97, 14],
 68: [86, 85, 45],
 69: [87, 36, 108],
 70: [110, 91, 36],
 71: [74, 72, 60],
 72: [17, 83, 74],
 73: [108, 87, 75],
 74: [56, 95, 71],
 75: [41, 73, 39],
 76: [41, 42, 73],
 77: [43, 44, 25],
 78: [25, 26, 77],
 79: [30, 66, 28],
 80: [88, 80, 5],
 81: [88, 80, 5],
 82: [89, 51, 38],
 83: [17, 72, 55],
 84: [47, 48, 14],
 85: [86, 68, 106],
 86: [85, 68, 112],
 87: [36, 108, 73],
 88: [88, 80, 5],
 89: [89, 51, 38],
 90: [48, 47, 105],
 91: [110, 70, 29],
 92: [39, 64, 116],
 93: [115, 46, 113],
 94: [52, 96, 53],
 95: [60, 59, 74],
 96: [57, 53, 54],
 97: [111, 104, 35],
 98: [99, 1, 54],
 99: [1, 98, 54],
 100: [52, 94, 96],
 101: [69, 116, 108],
 102: [66, 79, 30],
 103: [24, 23, 19],
 104: [14, 97, 67],
 105: [14, 104, 111],
 106: [85, 68, 103],
 107: [13, 12, 109],
 108: [73, 87, 75],
 109: [107, 64, 45],
 110: [70, 91, 87],
 111: [35, 97, 104],
 112: [86, 9, 85],
 113: [93, 32, 31],
 114: [28, 93, 49],
 115: [93, 49, 114],
 116: [64, 39, 112]}

In [5]:
f = open("sql_files/sim_cars.sql", "w")

In [6]:
sql = "DROP TABLE IF EXISTS sim_cars;"
try:
    cur.execute(sql)
    f.write(sql)
    f.write('\n')
except:
    print('error dropping sim_cars')

In [7]:
sql = "CREATE TABLE IF NOT EXISTS sim_cars (id INTEGER PRIMARY KEY, sim1_id INTEGER, sim2_id INTEGER, sim3_id INTEGER);"
try:
    cur.execute(sql)
    f.write(sql)
    f.write('\n')
    print('successfully created sim_cars')
    conn.commit()
except:
    print('error creating sim_cars')

successfully created sim_cars

In [8]:
for c_id, sim_ids in sim_car_dic.items():
    sql = f"INSERT INTO sim_cars (id, sim1_id, sim2_id, sim3_id) VALUES ({c_id}, {sim_ids[0]}, {sim_ids[1]}, {sim_ids[2]});"
    try:
        cur.execute(sql)
        f.write(sql)
        f.write('\n')
    except:
        print('error inserting rows')

conn.commit()

In [9]:
f.close()
cur.close()
conn.close()

### TEST

In [46]:
sql = '''SELECT M.id, CONCAT(make, ' ', name, ' - ', edition) as name, sim1_id FROM car_models AS M 
    JOIN car_name AS N ON M.name_id = N.id 
    JOIN car_make as MA ON N.make_id = MA.id JOIN sim_cars AS S ON M.id = S.id'''

In [62]:
sql = '''SELECT M.id, make, name, edition, sim1 from sim_cars AS S 
    JOIN car_models AS M ON S.id = M.id
    JOIN car_name AS N ON N.id = M.name_id
    JOIN car_make as MA ON MA.id = N.make_id
    JOIN (SELECT M.id AS id, CONCAT(make, ' ', name, ' - ', edition) AS sim1 FROM car_models AS M 
        JOIN car_name AS N ON M.name_id = N.id 
        JOIN car_make as MA ON N.make_id = MA.id) AS D ON D.id = S.sim1_id'''

In [ ]:
sql = '''SELECT M.id, make, name, edition, sim1 from car_models AS M
    JOIN car_name AS N ON N.id = M.name_id
    JOIN car_make as MA ON MA.id = N.make_id
    JOIN sim_cars AS S ON M.id = S.id
    JOIN (SELECT M.id AS id, CONCAT(make, ' ', name, ' - ', edition) AS sim1 FROM car_models AS M 
        JOIN car_name AS N ON M.name_id = N.id 
        JOIN car_make as MA ON N.make_id = MA.id) AS D ON D.id = S.sim1_id'''

In [63]:
pd.read_sql(sql, conn)

C:\Users\Kenny Tang\AppData\Local\Temp\ipykernel_9220\3677087322.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(sql, conn)

      id     make      name  edition                          sim1
0      1    ACURA   integra     base           TOYOTA celica - gts
1      2    ACURA   integra      gsr              ACURA rsx - base
2      3    ACURA   integra   type r            LOTUS elise - base
3      4    ACURA       rsx     base                MAZDA mx5 - nc
4      5    ACURA       rsx   type s            ACURA rsx - type s
..   ...      ...       ...      ...                           ...
111  112  HYUNDAI  veloster   n (js)       SUBARU impreza - wrx va
112  113  PONTIAC       gto  5th gen  TOYOTA supra - 3.0 (5th gen)
113  114  PONTIAC       gto  5th gen   CHEVROLET corvette - c6 zo6
114  115   NISSAN      400z     base  TOYOTA supra - 3.0 (5th gen)
115  116  HYUNDAI   elantra        n   MAZDA mazda3 - mazdaspeed 3

[116 rows x 5 columns]