In [4]:
make= ['mazda', 'BMW']

In [5]:
str(tuple(test))

"('mazda', 'BMW')"

In [6]:
sql = f"SELECT make, name, edition, hp, torque, cylinder, displacement, aspiration, drive, transmission, min_year, max_year, body FROM car_models AS M \
    JOIN car_name AS N ON M.name_id = N.id \
    JOIN car_make AS MA ON MA.id = N.make_id \
    WHERE make IN %s;".format(str(tuple(make)))

In [7]:
print(sql)

('SELECT make, name, edition, hp, torque, cylinder, displacement, aspiration, drive, transmission, min_year, max_year, body FROM car_models AS M     JOIN car_name AS N ON M.name_id = N.id     JOIN car_make AS MA ON MA.id = N.make_id     WHERE make IN %s;', "('mazda', 'BMW')")