In [2]:
import pandas as pd
import psycopg2
import sqlalchemy
from sqlalchemy.sql import text
import tkinter as tk
from tkinter import simpledialog
from datetime import date

In [4]:
pw = 'Ken1099033'

In [5]:
conn = psycopg2.connect(
    host = "localhost",
    database = "cars",
    port = "5432",
    user = "postgres",
    password= pw) # INPUT PW HERE

cur = conn.cursor()

In [6]:
url = f'postgresql+psycopg2://postgres:{pw}@localhost:5432/cars'
engine = sqlalchemy.create_engine(url)

In [7]:
sql = '''SELECT * FROM car_make;'''
with engine.connect() as connn:
    query = connn.execute(text(sql))
make_df = pd.DataFrame(query.fetchall())

In [40]:
sql = '''SELECT * FROM car_name;'''
with engine.connect() as connn:
    query = connn.execute(text(sql))
name_df = pd.DataFrame(query.fetchall())

In [12]:
f = open(f'update_{str(date.today())}.sql', 'a')

In [13]:
df = pd.read_csv('data/clean_update_list.csv')

In [17]:
df.make =df.make.str.upper()
df

,make,name,edition,min_year,max_year,hp,torque,cylinder,displacement,aspiration,transmission,drive,body,door
0,HYUNDAI,veloster,turbo (fs),2012,2018,201,195,4,1.6,turbo,both,fwd,hatch,3
1,HYUNDAI,veloster,n (js),2019,2022,275,260,4,2.0,turbo,both,fwd,hatch,3
2,PONTIAC,gto,5th gen,2004,2004,350,365,8,5.7,na,both,rwd,coupe,2
3,PONTIAC,gto,5th gen,2005,2006,400,400,8,6.0,na,both,rwd,coupe,2
4,NISSAN,400z,base,2022,9999,400,350,6,3.0,turbo,both,rwd,coupe,2

In [ ]:
# Update car_make
for make in df.make.unique():
    if make not in list(make_df.make):
        ROOT = tk.Tk()
        ROOT.withdraw()
        nationality = simpledialog.askstring(title="NEW CAR MAKE DISCOVERED!",
            prompt=f"What nationality is {make}?:")
        sql = f'''INSERT INTO car_make (make, country) VALUES ('{make}', '{str.upper(nationality)}');\n'''
        try:
            cur.execute(sql)
            f.write(sql)
            conn.commit()
        except:
            print('error inserting make into car_make')

# Update make_df
sql = '''SELECT * FROM car_make;'''          
with engine.connect() as connn:
    query = connn.execute(text(sql))
make_df = pd.DataFrame(query.fetchall())

In [38]:
# Update car_name
df_w_make = df.merge(make_df.rename(columns= {'id':'make_id'}), on='make')
name_to_makeid = {row['name']: row['make_id'] for _, row in df_w_make.iterrows()}

for name in df_w_make.name.unique():
    if name not in list(name_df.name):
        sql = f'''INSERT INTO car_name (name, make_id) VALUES ('{name}', {name_to_makeid[name]});'''
        try:
            cur.execute(sql)
            f.write(sql)
            f.write('\n')
            conn.commit()
        except:
            print('error inserting row into car_name')

# Update name_df
sql = '''SELECT * FROM car_name;'''
with engine.connect() as connn:
    query = connn.execute(text(sql))
name_df = pd.DataFrame(query.fetchall())

In [54]:
# Update car_models
df_complete = df_w_make.merge(name_df.rename(columns={'id':'name_id'}), on=['name','make_id'])
for _, r in df_complete.iterrows():
    sql = f'''INSERT INTO car_models (name_id, edition, min_year, max_year, hp, torque, body, door, cylinder, displacement, aspiration, transmission, drive) 
        VALUES ({r.name_id},'{r.edition}',{r.min_year},{r.max_year},{r.hp},{r.torque},'{r.body}',{r.door},{r.cylinder},{r.displacement},'{r.aspiration}','{r.transmission}','{r.drive}');'''
    try:
        cur.execute(sql)
        f.write(sql)
        f.write('\n')
        conn.commit()
    except:
        print('error inserting row to car_models')

### End Session

In [55]:
f.close()
cur.close()
conn.close()